<div class="post-modal">
    <div class="modal-content">
        <h2>Create Post</h2>
        <a class="close-btn">Close</a>
        <form id="add-post" enctype="multipart/form-data">
           <input type="text" class="title" id="title" name="title" placeholder="Enter post title" >
          
           <input type="file" accept="images/*" name="image" id="image"> 
           <textarea name="storyLine"  id="post-story" class="post-story"  cols="98" rows="7" placeholder="Tell your story....." ></textarea>
           
           <button type="/submit" name="post-submit" class="write-btn submit-post-btn"> Publish</button>
        </form>

    </div>

</div>